doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/app.css")
        title Login
    body 

        .min-h-screen.bg-neutral-200.flex.flex-col.justify-center(class='sm:py-12')
            .p-10.mx-auto.rounded-3xl(class='xs:p-0 md:w-full md:max-w-md')
                h1.font-bold.text-center.text-2xl.mb-5 Xico - Park 

                if errores 
                    div.relative.py-3.pl-4.pr-10.leading-normal.text-red-700.bg-red-100.rounded-lg
                        each error in errores 
                            p=error.msg

                form.bg-white.shadow.w-full.rounded-3xl.divide-y.divide-gray-200(method='POST' action='/login')
                    .px-5.py-7
                        div
                            label.font-semibold.text-sm.text-gray-600.pb-1.block(for='correo') Tu Correo Electronico 
                            input#correo.border.rounded-lg.px-3.py-2.mt-1.mb-5.text-sm.w-full(type='email' placeholder='correo@gmail.com' )
                        div
                            label.font-semibold.text-sm.text-gray-600.pb-1.block(for='password') Tu Contraseña
                            input#password.border.rounded-lg.px-3.py-2.mt-1.mb-5.text-sm.w-full(type='password' placeholder='********' )
                        input(type='submit' value='Inicia Sesion' class='hover:text-white hover:bg-indigo-500 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 py-2.5 hover:shadow-md').transition.duration-200.bg-indigo-100.w-full.rounded-3xl.text-sm.shadow-sm.font-semibold.text-center.inline-block
                        
                    .p-5
                        .grid.grid-cols-3.gap-1
                            button.transition.duration-200.border.border-gray-200.text-gray-500.w-full.rounded-3xl.text-sm.shadow-sm.font-normal.text-center.inline-block(type='button' class='py-2.5 hover:shadow-md') MailUp
                            button.transition.duration-200.border.border-gray-200.text-gray-500.w-full.rounded-3xl.text-sm.shadow-sm.font-normal.text-center.inline-block(type='button' class='py-2.5 hover:shadow-md') Google
                            button.transition.duration-200.border.border-gray-200.text-gray-500.w-full.rounded-3xl.text-sm.shadow-sm.font-normal.text-center.inline-block(type='button' class='py-2.5 hover:shadow-md') Facebook
                    .py-5
                        .grid.grid-cols-2.gap-1
                            .text-center.whitespace-nowrap(class='sm:text-left')
                                a.transition.duration-200.mx-5.px-5.py-4.cursor-pointer.font-normal.text-sm.rounded-lg.text-gray-500.ring-inset(href='/forgotPassword' class='hover:bg-gray-100 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50')
                                    svg.w-4.h-4.inline-block.align-text-top(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z')
                                    span.inline-block.ml-1 Olvide mi contraseña 
                            .text-center.whitespace-nowrap(class='sm:text-right')
                                a.transition.duration-200.mx-5.px-5.py-4.cursor-pointer.font-normal.text-sm.rounded-lg.text-gray-500.ring-inset(href='/loginInspector' class='hover:bg-gray-100 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50')
                                    svg.w-4.h-4.inline-block.align-text-bottom(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z')
                                    span.inline-block.ml-1 Inspectores
                                        
                .py-5
                    .grid.grid-cols-2.gap-1
                        .text-center.whitespace-nowrap(class='sm:text-left')
                            a.transition.duration-200.mx-5.px-5.py-4.cursor-pointer.font-normal.text-sm.rounded-3xl.text-gray-500.ring-inset(href='/inicio' class='hover:bg-gray-200 focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50')
                                svg.w-4.h-4.inline-block.align-text-top(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10 19l-7-7m0 0l7-7m-7 7h18')
                                span.inline-block.ml-1 Regresar al inicio 
