doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/app.css")
        title Registro
    body 

        .relative.min-h-screen.flex.items-center.justify-center.bg-center.bg-gray-50.py-12.px-4.bg-gray-500.bg-no-repeat.bg-cover.relative.items-center(class='sm:px-6 lg:px-8' style='background-image: url(/img/turismo2.jpg);')
            .p-10.mx-auto.rounded-3xl(class='xs:p-0 md:w-full md:max-w-md')
                h1.font-bold.text-center.text-2xl.mb-5.text-white Xico - Park 
                div.bg-white.shadow.w-full.rounded-3xl.divide-y.divide-gray-200
                    .px-5.py-7
                        label.font-semibold.text-sm.text-gray-600.pb-1.block Nombre
                        input.border.rounded-lg.px-3.py-2.mt-1.mb-5.text-sm.w-full(type='text' placeholder='Juan')
                        .flex-row.w-full.text-xs(class='md:flex md:space-x-4')
                            .mb-3.space-y-2.w-full.text-xs
                                label.font-semibold.text-gray-600.py-2
                                    | Apellido Paterno
                                input#integration_shop_name.appearance-none.block.w-full.bg-grey-lighter.text-grey-darker.border.border-grey-lighter.rounded-lg.h-10.px-4(placeholder='Cruz' required='required' type='text' name='integration[shop_name]')
                            .mb-3.space-y-2.w-full.text-xs
                                label.font-semibold.text-gray-600.py-2
                                    | Apellido Materno
                                input#integration_shop_name.appearance-none.block.w-full.bg-grey-lighter.text-grey-darker.border.border-grey-lighter.rounded-lg.h-10.px-4(placeholder='Ortiz' required='required' type='text' name='integration[shop_name]')
                        label.font-semibold.text-sm.text-gray-600.pb-1.block Tu Correo Electronico 
                        input.border.rounded-lg.px-3.py-2.mt-1.mb-5.text-sm.w-full(type='text' placeholder='correo@gmail.com')
                        label.font-semibold.text-sm.text-gray-600.pb-1.block Tu Contraseña
                        input.border.rounded-lg.px-3.py-2.mt-1.mb-5.text-sm.w-full(type='text' placeholder='********')
                        .flex-row.w-full.text-xs(class='md:flex md:space-x-4')
                            .mb-3.space-y-2.w-full.text-xs
                                label.font-semibold.text-gray-600.py-2
                                    | Tus Placas
                                input#integration_shop_name.appearance-none.block.w-full.bg-grey-lighter.text-grey-darker.border.border-grey-lighter.rounded-lg.h-10.px-4(placeholder='Cruz' required='required' type='text' name='integration[shop_name]')
                            .mb-3.space-y-2.w-full.text-xs
                                label.font-semibold.text-gray-600.py-2
                                    | Tu Telefono
                                input#integration_shop_name.appearance-none.block.w-full.bg-grey-lighter.text-grey-darker.border.border-grey-lighter.rounded-lg.h-10.px-4(placeholder='Ortiz' required='required' type='text' name='integration[shop_name]')
                        a.transition.duration-200.bg-indigo-100.w-full.rounded-3xl.text-sm.shadow-sm.font-semibold.text-center.inline-block(type='button' class='hover:text-white hover:bg-indigo-500 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 py-2.5 hover:shadow-md')
                            span.inline-block.mr-2 Registrate 
                            svg.w-4.h-4.inline-block(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17 8l4 4m0 0l-4 4m4-4H3')
                    .p-5
                        .grid.grid-cols-3.gap-1
                            button.transition.duration-200.border.border-gray-200.text-gray-500.w-full.rounded-3xl.text-sm.shadow-sm.font-normal.text-center.inline-block(type='button' class='py-2.5 hover:shadow-md') MailUp
                            button.transition.duration-200.border.border-gray-200.text-gray-500.w-full.rounded-3xl.text-sm.shadow-sm.font-normal.text-center.inline-block(type='button' class='py-2.5 hover:shadow-md') Google
                            button.transition.duration-200.border.border-gray-200.text-gray-500.w-full.rounded-3xl.text-sm.shadow-sm.font-normal.text-center.inline-block(type='button' class='py-2.5 hover:shadow-md') Facebook

                .py-5
                    .grid.grid-cols-2.gap-1
                        .text-center.whitespace-nowrap(class='sm:text-left')
                            a.transition.duration-200.mx-5.px-5.py-4.cursor-pointer.font-normal.text-sm.rounded-3xl.text-gray-500.ring-inset(href='/inicio' class='hover:bg-gray-200 focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50')
                                svg.w-4.h-4.inline-block.align-text-top(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10 19l-7-7m0 0l7-7m-7 7h18')
                                span.inline-block.ml-1 Regresar al inicio 